---
import Section from "../Section.astro";

import { languages } from "@cv";
---

<Section title="Idiomas">
    <ul class="holographic-container">
        {
            languages.map(({ language, fluency }) => (
                <li class="holographic-card">
                    <h4>{language}</h4>
                    <div>{fluency}</div>
                </li>
            ))
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    li {
        border-radius: 6px;
        background: #ffd1e8;
        color: black;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 10px;
        flex-direction: column;
    }

    h4 {
        padding: 0.3rem;
        justify-self: center;
    }

    .holographic-card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    

    .holographic-card::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 380%;
        background: linear-gradient(
            0deg,
            transparent,
            transparent 30%,
            rgba(253, 135, 208, 0.5)
        );
        transform: rotate(-45deg);
        transition: all 0.5s ease;
        opacity: 0;
    }

    .holographic-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(224, 74, 167, 0.726);
    }

    .holographic-card:hover::before {
        opacity: 1;
        transform: rotate(-45deg) translateY(100%);
    }
</style>
